@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.DashboardCardsSectionItem)Model.Content;
    //var settings = (ContentModels.DashboardCardsSectionItem)Model.Settings;

    var icon = content.Value("icon");
    var header = content.SectionHeader;
    //var subHeader = content.SectionSubHeader;
    //var rte = content.Content;
    var link = content.Link;


}

            
<div class="col">
    <div class="dashboard-item">
        <div class="icon">
            <a href="(link == null ? link : link)">
                    <img alt="image.Name" src="image.Url" style="max-width:42px; max-height:40px;" />
                    <i class="fa @icon"></i>
                <span class="sr-only">@header</span>
            </a>
        </div>
        <h3>@header</h3>
    </div>
</div>
       