@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.WellSection>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{
    var m = Model;
    var propBackgroundColor = m.Value<string>("backgroundColor");
    var sectionId = m.Value<string>("sectionId");
    var backgroundColor = "#" + (string.IsNullOrWhiteSpace(propBackgroundColor) ? "fff" : propBackgroundColor);
    var wellTextArea = m.Value<string>("wellTextArea");
}

<section id="@sectionId" style="background-color: @backgroundColor">
    <div class="container">
        <div class="well well-lg">
            @Html.Raw(wellTextArea)
        </div>
    </div>
</section>

