<div id="mainService" class="main-service-modal" aria-describedby="modalDescription">
    <div class="container">
        <div class="sr-only" id="modalDescription">
            <p>This is a Modal overlay covering the site content. It is the first of two possible overlays.
                It contains content and links pertinent to the Service Card Categories. Selecting 'Go Back'
                in this modal will take you back to previous screen.</p>
        </div>
        <a href="#" class="focusLoop"><!-- Focus Loop --></a>
        <div class="main-service-modal-banner">
            <h1 class="main-service-modal-title js-mainServiceTitle" tabindex="0">Consulting & Customized Services</h1>
            <div class="main-service-modal-image-wrapper">
                <img class="main-service-modal-image-wrapper-img" src="/assets/communications-and-collaboration.png">
            </div>
        </div>
        <div class="main-service-modal-highlights">
            <div class="main-service-modal-go-back js-go-back">
                <a href="#" class="interactive">
                    <i class="main-service-modal-go-back-icon fa fa-arrow-circle-left"></i>
                    <span class="sr-only">Go Back</span>
                </a>
            </div>
            <h2 class="main-service-modal-highlights-title">Service Highlights</h2>
            <p class="main-service-modal-highlights-description">OIT provides a wide range of services to support effective and efficient communication. Services include
                phone, audio, video conferencing, and internet connectivity.</p>
            <div class="rte"></div>

            <div class="main-service-modal-links mt-5">
                <a href="/assets/communication-and-connectivity.pdf" class="text-uppercase text-primary" title="View the OLA"
                    target="_blank">
                    <i class="main-service-modal-links-icon fa fa-file"></i>
                    View the OLA
                    <span class="sr-only">View the OLA</span>
                </a>
                <div class="py-4">
                    <!-- Start row -->
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <div class="link-tile js-sub-service-link">
                                <a href="#"
                                    id="1932" class="interactive"
                                    data-request-url="#"
                                   >
                                    <span class="sr-only">Audio and Video Collaboration Link</span>
                                    <i id="1932" class="link-tile-icon fa fa-video-camera"
                                        data-request-url="#"></i>
                                </a>
                                <h4 class="link-tile-title">Audio and Video Collaboration</h4>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="link-tile js-sub-service-link">
                                <a href="#" id="1937"
                                    class="interactive"
                                    data-request-url="#"
                                   >
                                    <span class="sr-only">Call Center Platform Link</span>
                                    <i id="1937" class="link-tile-icon fa fa-phone-square"
                                        data-request-url="#"></i>
                                </a>
                                <h4 class="link-tile-title">Call Center Platform</h4>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="link-tile js-sub-service-link">
                                <a href="#" id="1941"
                                    class="interactive"
                                    data-request-url="#"
                                   >
                                    <span class="sr-only">Telephone Link</span>
                                    <i id="1941" class="link-tile-icon fa fa-phone"
                                        data-request-url="#"></i>
                                </a>
                                <h4 class="link-tile-title">Telephone</h4>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="link-tile js-sub-service-link">
                                <a href="#" id="1945"
                                    class="interactive"
                                    data-request-url="#"
                                   >
                                    <span class="sr-only">Fax Link</span>
                                    <i id="1945" class="link-tile-icon fa fa-fax"
                                        data-request-url="#"></i>
                                </a>
                                <h4 class="link-tile-title">Fax</h4>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <!-- Start row -->
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <div class="link-tile js-sub-service-link">
                                <a href="#"
                                    id="1948" class="interactive"
                                    data-request-url="#"
                                   >
                                    <span class="sr-only">Internet (Secure Network Services) Link</span>
                                    <i id="1948" class="link-tile-icon fa fa-globe"
                                        data-request-url="#"></i>
                                </a>
                                <h4 class="link-tile-title">Internet (Secure Network Services)</h4>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="link-tile js-sub-service-link">
                                <a href="#"
                                    id="1951" class="interactive"
                                    data-request-url="#"
                                   >
                                    <span class="sr-only">Remote (VPN) Connectivity Link</span>
                                    <i id="1951" class="link-tile-icon fa fa-plug"
                                        data-request-url="#"></i>
                                </a>
                                <h4 class="link-tile-title">Remote (VPN) Connectivity</h4>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="link-tile js-sub-service-link">
                                <a href="#"
                                    id="1955" class="interactive"
                                    data-request-url="#"
                                   >
                                    <span class="sr-only">LAN, WAN, and Azure ExpressRoute (Secure Network Services)
                                        Link</span>
                                    <i id="1955" class="link-tile-icon fa fa-lock"
                                        data-request-url="#"></i>
                                </a>
                                <h4 class="link-tile-title">LAN, WAN, and Azure ExpressRoute (Secure Network Services)</h4>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="link-tile js-sub-service-link">
                                <a href="#" id="1958"
                                    class="interactive"
                                    data-request-url="#"
                                   >
                                    <span class="sr-only">Public Safety Radio Link</span>
                                    <i id="1958" class="link-tile-icon fa fa-soundcloud"
                                        data-request-url="#"></i>
                                </a>
                                <h4 class="link-tile-title">Public Safety Radio</h4>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                </div>
            </div>
        </div>
        <a href="#" class="focusLoop"><!-- Focus Loop --></a>
    </div>
</div>