<div id="subService" class="sub-service-modal" aria-describedby="modalDescription2">
    <div class="container">
        <div class="sr-only" id="modalDescription2">
            <p>This is a Modal overlay covering the Service Card content. It is the second of two possible overlays. It
                contains
                content pertinent to the Service Card sub item. Selecting 'Go Back' in this modal will
                take you back to previous modal overlay.</p>
        </div>
        <a href="#" class="focusLoop"><!-- Focus Loop --></a>
        <div class="sub-service-modal-banner">
            <i class="sub-service-modal-banner-icon fa fa-video-camera"></i>
            <h2 class="sub-service-modal-banner-title js-subServiceTitle" tabindex="0">Audio and Video Collaboration</h2>
            <div class="sub-service-modal-go-back js-go-back">
                <a href="#" class="interactive">
                    <i class="sub-service-modal-go-back-icon fa fa-arrow-circle-left"></i>
                    <span class="sr-only">Go Back</span>
                </a>
            </div>
        </div>
        <div class="sub-service-modal-highlights">
            <div class="rte">
                <p>OIT provides a suite of audio/video collaboration and conferencing tools enabling employees to
                    collaborate and share information real time with team members or external stakeholders, whether
                    participating in standard audio conference, or meeting face to face over a video connection.</p>
                <p>Solutions provided are:</p>
                <ul>
                    <li><strong>WebEx</strong> - a web conferencing solution with audio, video, and real-time content
                        sharing.</li>
                    <li><strong>MS Teams</strong> - an enterprise application offering powerful collaboration tools such
                        as chat, audio &amp; video conference, and desktop sharing.</li>
                </ul>
            </div>
            <div class="sub-service-modal-services">
                <div class="accordion" role="tablist" aria-multiselectable="true">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Operational Level">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse1"
                                    aria-expanded="false"
                                    aria-controls="collapse1">
                                Operational Level / Service Levels Available
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="Operational Level">
                            <div class="accordion-body">
                                <ul>
                                    <li>Polycom or GCI Audio Bridge</li>
                                    <li>WebEx in Anchorage, Fairbanks, Juneau</li>
                                    <li>WebEx in all other Alaska locations</li>
                                    <li>MS Teams</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Cost Model">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse2"
                                    aria-expanded="false"
                                    aria-controls="collapse2">
                                Cost Model
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="Cost Model">
                            <div class="accordion-body">
                                <ul>
                                    <li>Core Services Bundle</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Resources">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse3"
                                    aria-expanded="false"
                                    aria-controls="collapse3">
                                Resources
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="Resources">
                            <div class="accordion-body">
                                <ul>
                                    <li>Employee Dashboard - WebEx Resources</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="request help">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse4"
                                    aria-expanded="false"
                                    aria-controls="collapse4">
                                How do I order or request help with this service?
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="request help">
                            <div class="accordion-body">
                                <ul>
                                    <li>For support please request help at <a class="text-info" rel="noopener"
                                            href="http://alaskanow.servicenowservices.com/oit/" target="_blank"
                                            title="AlaskaNow">AlaskaNow</a> OIT Portal.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-service-modal-help">
                    <a href="mailto:oitsupport@alaska.gov" class="interactive">
                        <h5>
                            Request Help
                            <i class="fa fa-comments"></i>
                            <span class="sr-only">Request Help Link</span>
                        </h5>
                    </a>
                </div>
            </div>
        </div>
        <a href="#" class="focusLoop"><!-- Focus Loop --></a>
    </div>
</div>